@model IEnumerable<Library_Mangement_Website.Sach>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheLoai.Ten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThongTin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheLoai.Ten)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sach_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.sach_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sach_id })
        </td>
    </tr>
}

</table>
