@model Library_Mangement_Website.Sach_copy

@{
    ViewBag.Title = "Thêm bản sao sách";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/books.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
        <div id="books" class="page active">
            <div class="page-header">
                <div class="header-info">
                    <h2>Thêm bản sao sách</h2>
                    <p>Thêm thông tin bản sao sách vào thư viện</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>Thông tin bản sao sách</h3>
                </div>
                <div class="card-content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-grid">
                            <div class="form-group">
                                @Html.LabelFor(model => model.copy_id, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.copy_id, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.copy_id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NamXuatBan, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NamXuatBan, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1900", @max = "2025" } })
                                    @Html.ValidationMessageFor(model => model.NamXuatBan, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1" } })
                                    @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.pdf_link, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.pdf_link, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.pdf_link, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.is_removed, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.is_removed)
                                        @Html.ValidationMessageFor(model => model.is_removed, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.sach_id, "Sách", htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownList("sach_id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.sach_id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.nxb_id, "Nhà xuất bản", htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownList("nxb_id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.nxb_id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Thêm bản sao" class="btn btn-primary" />
                                <a href="@Url.Action("Index")" class="btn btn-outline">Quay lại danh sách</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>