@model IEnumerable<Library_Mangement_Website.PhieuThuTien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayTra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phat.phat_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phat.phat_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.thutien_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.thutien_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.thutien_id })
        </td>
    </tr>
}

</table>
