@model Library_Mangement_Website.TheDocGia

@{
    ViewBag.Title = "Lập thẻ đọc giả";
}


<h2>Lập thẻ đọc giả</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.docgia_id, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.docgia_id, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.docgia_id, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Ten)
        @Html.TextBoxFor(m => m.Ten, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NgaySinh)
        @Html.TextBoxFor(m => m.NgaySinh, new { @type = "date", @class = "form-control", @placeholder = "Nhập hoặc chọn ngày sinh" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Status)
        @Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LoaiDG)
        @Html.DropDownListFor(m => m.LoaiDG, new SelectList(new[] { "A", "B", "V" }), "-- Chọn loại --", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tạo thẻ" class="btn btn-default" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
