@model Library_Mangement_Website.TheDocGia

@{
    ViewBag.Title = "Xoá thẻ đọc giả";
}

<h2>Xác nhận xoá</h2>

<h4>Bạn có chắc chắn muốn xoá thẻ đọc giả sau?</h4>
<hr />
<dl class="dl-horizontal">
    <dt>Họ tên</dt>
    <dd>@Model.Ten</dd>

    <dt>Email</dt>
    <dd>@Model.Email</dd>

    <dt>Ngày sinh</dt>
    <dd>@Model.NgaySinh.ToString("dd/MM/yyyy")</dd>

    <dt>Loại</dt>
    <dd>@Model.LoaiDG</dd>

    <dt>Trạng thái</dt>
    <dd>@Model.Status</dd>
</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Xoá</button>
    @Html.ActionLink("Huỷ", "Index", null, new { @class = "btn btn-secondary" })
}