@model Library_Mangement_Website.TheDocGia

@{
    ViewBag.Title = "Sửa thông tin thẻ đọc giả";
}

<h2>Sửa thông tin thẻ đọc giả</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.docgia_id)

    <div class="form-group">
        @Html.LabelFor(model => model.Ten)
        @Html.TextBoxFor(model => model.Ten, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.NgaySinh, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LoaiDG)
        @Html.TextBoxFor(model => model.LoaiDG, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status)
        @Html.TextBoxFor(model => model.Status, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary" })
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}