@model IEnumerable<Library_Mangement_Website.TheDocGia>

@{
    ViewBag.Title = "Danh sách thẻ độc giả";
}

<h2 class="text-primary">Danh sách thẻ độc giả</h2>

<p>
    <a href="@Url.Action("Create", "TheDocGia")" class="btn btn-success">+ Tạo mới thẻ</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Ngày sinh</th>
            <th>Ngày lập thẻ</th>
            <th>Loại</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var docgia in Model)
        {
            <tr>
                <td>@docgia.Ten</td>
                <td>@docgia.Email</td>
                <td>@docgia.NgaySinh.ToString("dd/MM/yyyy")</td>
                <td>@docgia.NgayLapThe.ToString("dd/MM/yyyy")</td>
                <td>@docgia.LoaiDG</td>
                <td>@docgia.Status</td>
                <td>
                    <a href="@Url.Action("Edit", "TheDocGia", new { id = docgia.docgia_id })" class="btn btn-warning btn-sm">Sửa</a>
                    <a href="@Url.Action("Delete", "TheDocGia", new { id = docgia.docgia_id })" class="btn btn-danger btn-sm">Xoá</a>

                </td>
            </tr>
        }
    </tbody>
</table>

